.page .trading-system {
  margin: 0 31px 14px 0;
  display: inline-block;
  width: 721px;
  overflow-wrap: break-word;
  font-family: 'K2D';
  font-weight: 600;
  font-size: 48px;
  line-height: 1.3;
  color: #000000;
}
.page .container {
  margin-right: 13px;
  width: 134px;
  overflow-wrap: break-word;
  font-family: 'K2D';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.page .container-1 {
  overflow-wrap: break-word;
  font-family: 'K2D';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.page .container-2 {
  overflow-wrap: break-word;
  font-family: 'K2D';
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #000000;
}
.page .container {
  margin: 18px 0 32px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 389px;
  height: fit-content;
  box-sizing: border-box;
}
.page .account-photo {
  background: url('assets/images/AccountPhoto.png') 50% / cover no-repeat;
  width: 80px;
  height: 76px;
}
.page .heading {
  background: #FFFFFF;
  margin-bottom: 123px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 33px 77px 34px 60px;
  width: 1440px;
  box-sizing: border-box;
}
.page .container-7 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .container-3 {
  display: flex;
  box-sizing: border-box;
}
.page .container-8 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .container-4 {
  display: flex;
  box-sizing: border-box;
}
.page .container-9 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .container-5 {
  display: flex;
  box-sizing: border-box;
}
.page .container-10 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .container-6 {
  display: flex;
  box-sizing: border-box;
}
.page .head {
  margin-bottom: 68px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1122.8px;
  box-sizing: border-box;
}
.page .eur {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-1 {
  display: flex;
  box-sizing: border-box;
}
.page .eth {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-2 {
  display: flex;
  box-sizing: border-box;
}
.page .eth-1 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-3 {
  display: flex;
  box-sizing: border-box;
}
.page .euro {
  margin: 0 19.6px 65px 19.6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 629px;
  box-sizing: border-box;
}
.page .dlr {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-11 {
  display: flex;
  box-sizing: border-box;
}
.page .eth-5 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-21 {
  display: flex;
  box-sizing: border-box;
}
.page .eth-2 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-31 {
  display: flex;
  box-sizing: border-box;
}
.page .dollar {
  margin: 0 20.4px 64px 20.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 628.3px;
  box-sizing: border-box;
}
.page .rub-1 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-12 {
  display: flex;
  box-sizing: border-box;
}
.page .eth-4 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-22 {
  display: flex;
  box-sizing: border-box;
}
.page .eth-3 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-32 {
  display: flex;
  box-sizing: border-box;
}
.page .rub {
  margin: 0 18.9px 64px 18.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 629.8px;
  box-sizing: border-box;
}
.page .yan-1 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-13 {
  display: flex;
  box-sizing: border-box;
}
.page .eth-7 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-23 {
  display: flex;
  box-sizing: border-box;
}
.page .eth-6 {
  overflow-wrap: break-word;
  font-family: 'Amiko';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #000000;
}
.page .frame-33 {
  display: flex;
  box-sizing: border-box;
}
.page .yan {
  margin: 0 19.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 629.3px;
  box-sizing: border-box;
}
.page .main {
  margin: 0 98.9px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 1122.8px;
  box-sizing: border-box;
}
.container-11 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-bottom: 342px;
  width: 1440px;
  box-sizing: border-box;
}
